name: Test and Build Angular Application

on:
  push:
    branches: [ main,correction-rendu-2 ]
  pull_request:
    branches: [ main,correction-rendu-2 ]

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build_test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'
        cache: maven

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Set Up Pages
      id: pages
      uses: actions/configure-pages@v4
      
    # - name: Docker compose build (no run)
    #   run: docker compose build

    # - name: Build Backend & Test 
    #   working-directory: backend
    #   run: |
    #     chmod +x mvnw
    #     ./mvnw -B clean verify -Dspring.profiles.active=test


    # - name: Install and Build App Application
    #   working-directory: PJM-frontend-app
    #   run: |
    #     npm ci
    #     npm install -g @angular/cli@17.0.2 --silent
    #     npm run build

    # - name: Upload Artifact
    #   if: matrix.node-version == '20.x'
    #   uses: actions/upload-pages-artifact@v3
    #   with:
    #     name: github-pages
    #     path: PJM-frontend-app/dist/pjm-frontend-app/browser

    # - name: Upload Surefire Reports
    #   if: always()
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: surefire-reports-${{ matrix.node-version }}-${{ github.run_attempt }}
    #     path: backend/target/surefire-reports
    #     overwrite: true

    # - name: Docker compose down
    #   if: always()
    #   run: docker compose down -v

  build-push-on-docker-hub:
    runs-on: ubuntu-latest
    needs: build_test
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Backend Docker image
        run: docker build -t ghcr.io/hanuman28/pjmtool-backend:latest ./backend
    
      - name: Push Backend Docker image to ghcr
        run: docker push ghcr.io/alexandre-jme1234/pjmtool-backend:latest

      - name: Build Frontend Docker image
        run: docker build -t ghcr.io/hanuman28/pjmtool-frontend:latest ./PJM-frontend-app
    
      - name: Push Frontend Docker image to ghcr
        run: docker push ghcr.io/hanuman28/pjmtool-frontend:latest
        
    
